@model IEnumerable<NetworkOfShops.Models.Bill>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h3 class="AmountOfMoney">W sumie ilość pieniędzy: </h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="MonthlySalesStatement">Zestawienie w miesiącu</a>
<a asp-action="AnnualSalesStatement">Zestawienie w roku</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="CreateProductInBill" asp-route-id="@item.Id">Dodaj produkt</a> |
                <a asp-action="GenerateInvoice" asp-route-id="@item.Id">Wygeneruj rachunek</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts  
{
    <script type="text/javascript">
        $.ajax({  
                type: "GET",  
                url: '@Url.Action("FetchAnnualAmountOfMoney")',    
                success: function (data) {
                   const amountOfMoney = document.querySelector('.AmountOfMoney');
                   amountOfMoney.textContent = `W sumie ilość pieniędzy: ${data}`;
                },  
                error: function () {  
                    alert("Error while reading data");  
                }  
            }); 
    </script>
}
